@charset "UTF-8";

:root{
    --cor1:#F7FBA1;
    --cor2:#E6D99A;
    --cor3:#FAE0AC;
    --cor4:#E3B691;
    --cor5:#FFE2DB;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}

header{
    background-color: var(--cor3);
    padding: 5px;
    margin: 0px;
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 3vw;
    text-align: center;
}

header > nav{
    text-align: left;
}

a{
    color: white;
    text-decoration: none;
    font-size: 1em;
}

a:hover{
    text-decoration: underline;
}

#palmirinha{
    color: black;
}

hr{
    width: 50%;
    margin:0 auto 0 0;
    text-align: left;
}

article{
    padding-left: 5px;
}
